html,
body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer {
    margin-top: auto;
}

header,
main,
footer {
    text-align: center;
}

.donors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header,
.form,
main {
    margin: 0 auto 70px auto;
    width: 90%;
    max-width: 500px;
}


/**
parei no minuto 1.18.24
 **/
